@* @{ *@
@*     ViewData["Title"] = "Home Page"; *@
@* } *@

<div class="text-center">
    @* <h1 class="display-4">My first view</h1> *@
    
    @*opg 6.2*@
    @* Navn: @ViewBag.name <br/> *@
    @* Alder: @ViewBag.age <br/> *@
    @* Fødselsdag: @ViewBag.birthday *@
    
    Navn: @Model.name <br/>
    Alder: @Model.age <br/>
    Fødselsdag: @Model.birthday
</div>